In [107]:
import pandas as pd
import plotly.express as px
from datetime import datetime
import numpy as np

car_data = pd.read_csv("https://practicum-content.s3.us-west-1.amazonaws.com/new-markets/Data_sprint_4_Refactored/vehicles_us.csv")
# # fig = px.scatter(car_data,x="odometer",y="price")
# fig = px.box(car_data,x="price")
# fig

In [108]:
# car_data.info()
car_data= car_data.dropna(subset="model_year")
car_data["date_posted"] = pd.to_datetime(car_data["date_posted"])
car_data = car_data.dropna(subset="model_year")

In [109]:
car_data["model_year"] = car_data["model_year"].astype(int)
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47906 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         47906 non-null  int64
 1   model_year    47906 non-null  int32
 2   model         47906 non-null  object
 3   condition     47906 non-null  object
 4   cylinders     43009 non-null  float64
 5   fuel          47906 non-null  object
 6   odometer      40563 non-null  float64
 7   transmission  47906 non-null  object
 8   type          47906 non-null  object
 9   paint_color   39291 non-null  object
 10  is_4wd        23764 non-null  float64
 11  date_posted   47906 non-null  datetime64[ns]
 12  days_listed   47906 non-null  int64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(2), object(6)
memory usage: 4.9+ MB

In [110]:
models = car_data["model"].unique()
model_year = car_data["model_year"].unique()
type_car = car_data["type"].unique()
fuel = car_data["fuel"].unique()
cylinders = car_data["cylinders"].unique()

In [118]:
model_year = car_data["model_year"].unique().tolist()
sorted(model_year,reverse=True)

[2019,
 2018,
 2017,
 2016,
 2015,
 2014,
 2013,
 2012,
 2011,
 2010,
 2009,
 2008,
 2007,
 2006,
 2005,
 2004,
 2003,
 2002,
 2001,
 2000,
 1999,
 1998,
 1997,
 1996,
 1995,
 1994,
 1993,
 1992,
 1991,
 1990,
 1989,
 1988,
 1987,
 1986,
 1985,
 1984,
 1983,
 1982,
 1981,
 1980,
 1979,
 1978,
 1977,
 1976,
 1975,
 1974,
 1973,
 1972,
 1971,
 1970,
 1969,
 1968,
 1967,
 1966,
 1965,
 1964,
 1963,
 1962,
 1961,
 1960,
 1958,
 1955,
 1954,
 1949,
 1948,
 1936,
 1929,
 1908]